<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>選課系統</title>
  <!-- <link href="style.css" rel="stylesheet" type="text/css" /> -->
</head>

<body>
  <div id="app">
    選課系統 
    <div>
      <div>
        <label> Username: </label>
        <input type="text">
      </div>
      <div>
        <label> Password: </label>
        <input type="text">
      </div>
      <div>
        <input type="submit" value="Submit"></input>
      </div>
    </div>
  </div>
</body>
</html>